<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071840283683-ode9bfva1qpiq21ohltfoku024s3166v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071840283683-ode9bfva1qpiq21ohltfoku024s3166v</string>
	<key>API_KEY</key>
	<string>AIzaSyCQNNidX40mKMkRMeLGXq-NgZaYfnQCmcU</string>
	<key>GCM_SENDER_ID</key>
	<string>1071840283683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matthewsykes.Hustings</string>
	<key>PROJECT_ID</key>
	<string>dissertation-df951</string>
	<key>STORAGE_BUCKET</key>
	<string>dissertation-df951.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071840283683:ios:d4e3134a927f8591afb596</string>
	<key>DATABASE_URL</key>
	<string>https://dissertation-df951.firebaseio.com</string>
</dict>
</plist>